aiocron==1.7
aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.7
croniter==1.0.15
discord==1.7.3
discord.py==1.7.3
html5lib==1.1
idna==3.3
lxml==4.6.4
multidict==5.2.0
python-dateutil==2.8.2
pytz-deprecation-shim==0.1.0.post0
requests==2.26.0
six==1.16.0
soupsieve==2.2.1
typing-extensions==3.10.0.2
tzdata==2021.5
tzlocal==4.0.2
urllib3==1.26.7
webencodings==0.5.1
yarl==1.7.0